<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xconns.peerdevicenet.samples.connector_wifi_idl"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.xconns.peerdevicenet.permission.REMOTE_MESSAGING" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon" >
        
        <!-- the following is manifest for Connector app -->
        
        <activity
            android:name="com.xconns.peerdevicenet.samples.connector_wifi_idl.ConnectorByWifiIdl"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xconns.peerdevicenet.CONNECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
    </application>

</manifest>
